* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* MinCard.razor.css */
div {
    padding: 15px 25px 10px;
    border-radius: 15px;
    flex: 1;
    min-width: 260px;
    max-width: 300px;
    /* نستخدم المتغير هنا، وإذا لم يوجد يستخدم crimson */
    background-color: var(--card-bg, crimson);
    color: white;
    transition: transform 0.2s;
}

div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}
