* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tasks {
    margin: 10px 0;
    /* اقل عرض للكارت قبل ما يقرر ينزل سطر جديد */
    min-width: 350px;
}

.card-headerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: var(--color, crimson);
    color: white;
}

    .card-headerr .logo {
        display: flex;
        gap: 10px;
        align-items: center;
    }

.count {
    background: #fff3;
    /* opacity: 4; */
    /* backdrop-filter: blur(5px); */
    width: 40px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* توسيط عرضي */
    align-items: center;
    font-weight: bold;
}

.card-body {
    border: 1px solid #2bbbfb;
    min-height: 450px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #2bbbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .3s ;
    cursor:move;
}

    .task:hover {
        box-shadow: 0 4px 10px;
    }

    .task p {
        margin-bottom: 10px;
    }

    .task .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .task:hover .footer i {
        opacity: 1;
    }

    .task .footer i {
        cursor: pointer;
        opacity: 0;
        transition: .5s;
    }
        .task div i:first-child {
            color: red;
        }
        .task div i:last-child {
            color: limegreen;
        }

.date-badge {
    font-size: 0.75rem;
    /*color: #666;*/
    background: #f0f0f0;
    border-radius: 10px;
    margin-top: 5px;
}
