* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-card {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.AddTask {
    background: #1d4ed8;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.tasks-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.remove-modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    line-height: 1.7;
    backdrop-filter: blur(5px);
    transition: .3s;
}

    .remove-modal.isvisible {
        opacity: 1;
        visibility: visible;
        background-color: rgba(0,0,0,0.7);
    }

    .remove-modal .modal-card {
        background: #fff;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 3px 10px black;
        transform: translateY(30px);
        transition: .3s;
    }

    .remove-modal.isvisible .modal-card {
        transform: translateY(0);
    }
